@import url("https://fonts.googleapies.com/css?family=Roboto+slab:100,300,400,700");
@import url("https:://fonts.googleapies.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i");

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #d2dbdd;
}
.cards{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;  
  align-items: center;
}
.card{
display: flex;
flex-direction: column;
width: 400px;
height: 500px;
justify-self:center;
align-items: center;
}
.card_img{
  width: 500px;
  height: 600px;
  display: flex;
  flex-direction: row;
  border-radius: 12px;
  box-shadow: 2px,12px 2px 12px;
  justify-content: center;
  margin-top: 12px;
}
.card_info{
  width: 500px;
  height: 600px;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  box-shadow: 1px 3px 1px 3px 1px 3px;
  justify-content: center;
  background-color: white;
  align-items: center;
  gap: 12px;

}
button{
  width: 100px;
  height: 50px;
  border-radius: 12px;
  box-shadow: 1px 3px 1px 3px 1px 3px;
  background-color: whitesmoke;
  font-weight: bold;
  color: blue;
}